<!-- playlist.html -->

<div>
  <h3>{{ playlist.name }}</h3>
  <div class="container">
  <h3>Add a song</h3>
	  <form name="songForm" ng-submit="submit($event)">
	  	<div class="alert alert-warning" ng-show="songForm.$dirty && songForm.$invalid">Pick a song</div>
	  	<label>Song<select ng-options="song as song.name for song in songs" name="songNameInput" ng-model="songName" required></select></label>
	  	 <button type="submit" class="btn" ng-disabled="songForm.$invalid">Add Song</button>
	  </form>
 
</div>
  <table class='table' ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>
</div>